{% extends "layout.html" %}
{% block body %}
   <!-- About -->
    <section id="about">
        <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Let's know about Umeed</h3>
            <h3 class="section-subheading text-muted">
              <hr>

As country like india is very proned to natural disasters like floods which kind of appear every year, so it becomes very

important to tackle such calamity and resuce people with all the possible help and manage the limited resources effectively.

Following the same idea our team has build building a web app which has a number of functionalities to help the victims and guide

the voulunteers and government to make some quick and targeted actions. Here are some of the features of umeed :)

1. Accepting donations which will include - monetary help, clothing , blood donations , sanitary and other objects.

2. A console to register lost and found people during the disaster.

3. One of the biggest issue during the rescue operation is that the number of volunteer distrbution is uneven , i.e during a

particular day and time number of volunteer is maximum and the next moment we are out of them. To resolve this issue we are

registering volunteers and also there availibility date and time and finally using the data we can guide them to have a maximum

output.

4. Another big issue faced by the rescuers is that they din't know the frequecy of victims in a particualr area which kind of

resist them to give their full service and to resolve this we are using a feature where people can register themselves, their

location and also the approx number of people stuck in that area which could be used by government to take some strict

actions.

Finally , our web app will act as a common platform for all the relief camps and NGOs and using the available data they could also

maximize their output.

At last the web app will contain all the important links ,blogs and contact numbers which could be needed during the disaster.
</h3>
<hr>

</body>
</html>
          </div>
        </div>
        </div>
    </section>
    {% endblock %}