{% extends "layout.html" %}
{% block body %}
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Request For Help</h2>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
              <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Requestee *" required="required" data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                <div class="form-group">
                    <input class="form-control" id="phone" type="number" placeholder="Requestee Phone *" required="required" data-validation-required-message="Please enter the phone no.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group"
                    <input class="form-control" id="map" type="Location" placeholder="Location *" required="required" data-validation-required-message="Please enter your email Location.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="GPS" type="GPS" placeholder="GPS Co-ordinates *" required="required" data-validation-required-message="Please enter your GPS Location.">
                    <p class="help-block text-danger"></p>
                  </div>
                    <div class="form-group">
                    <input class="form-control" id="people" type="number" placeholder="No. of people with you? *" required="required" data-validation-required-message="Are you alone or with someone? Please specify.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <h3 class="section-subheading text-muted">Don't worry our team is on the way</h3>
                  <div class="checkbox">
                    <label><input type="checkbox"> Need Rescue</label>
                  </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Water</label>
                  </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Food</label>
                  </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Clothing</label>
                  </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Medicine</label>
                  </div>
                <div class="checkbox">
                    <label><input type="checkbox">Toiletries</label>
                  </div>
                  <hr>
                   <div class="form-group">
                    <input class="form-control" id="need" type="text" placeholder="Other needs? *" required="required" data-validation-required-message="Please enter what do you need.">
                    <p class="help-block text-danger"></p>
                  </div>
                   <div class="col-md-3">
                </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
 {% endblock %}